body{
    background-color: rgb(120, 226, 226);
}
h1{
    padding: 0.5%;
    text-align: center;
}
h3 , p{
    padding: 0.5%;
    text-align: center;
    font-size: 21px;
}
div{
    margin: 5%;
    text-align: center;
     justify-content:center;
     
}
div, button, a{
    background-color: white;
     width: 15%;
     height: 20%;
     padding: 5px;
     justify-content: center;
     text-align: center;
}

.envio{
  background-color: rgb(120, 226, 226);
 width: 7%;
 height: 30px;
}
fieldset{
     background-color: rgb(120, 226, 226);
    padding: 10px;
    border-radius: 12px;
    margin: auto;
    display: block;
    width: fit-content;
    max-width: 600px;
}