body{
    background-color: bisque;
}
.forms{
    padding: 50px;
    margin: 20px;
    text-align: center;
    border: 2px solid  goldenrod;
}
#quadro{
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
   
}
h1{
    text-align: center;
}
.botao{
   width: 115px;
    height: 50px;
    justify-content: center;
   align-items: center;
   text-shadow: skyblue;
}
input{
      
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}